.spots{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 3rem;

}

.nav{
  text-decoration: none;
}

.spot {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}


.spot img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.Review-location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}


.spot .spot-text {
  padding: 0.5rem;
  text-align: center;
}

.spot .location,
.spot .price {
  margin: 0.5rem 0;
}


@media (min-width: 1024px) {
  .spots {
    grid-template-columns: repeat(4, 1fr);
  }
}




@media (max-width: 767px) {
  .spots {
    grid-template-columns: repeat(1, 1fr);


  }
}


@media (max-width: 480px) {
  .spots {
    grid-template-columns: 1fr;
  }
}
