.Form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.field label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.field input[type="text"],
.field input[type="number"],
.field textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: pre-wrap; /* Maintains whitespace and wraps the text */
  word-wrap: break-word; /* Breaks words to prevent overflow */
  overflow-wrap: break-word;
}

.field textarea {
  resize: vertical;
  min-height: 100px;
}

.field .error {
  color: #d32f2f;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #FF385C;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #FF385C;
}
